@media print {
  footer {
    display: none !important;
  }
}

footer {
	background-color: darken($base-color, 10);
	color: fade-out(white, 0.3);
	font-size: 1rem;
	padding: 10vh 0;
	width: 100%;
}

footer>div {
	text-align: center;
}

footer hr {
	width: 60%;
	margin: 0.5rem auto;
	height: 1px;
	background-color: $base-color;
}

// footer>div::after {
// 	display: block;
// 	width: 60%;
// 	margin: 0.5rem auto 0;
// 	height: 1px;
// 	background-color: $base-color;
// 	content: '';
// }
