.spacer {
	display: block;
	margin-bottom: 1rem;
}

img {
	margin: 10px;
}

.hidden {
	display: none;
}

.fixed {
	position: fixed;
	margin: 0;
	padding: 0;
	background-color: #f1f1f1;
}

.fixed_top {
	width: 100%;
	top: 0;
}

.fixed_bot {
	width: 100%;
	bottom: 0;
}

.center_txt {
	text-align: center;
}

.center_blk {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.blackout {
	background: #000000;
	background: rgba(0, 0, 0, 0.75);
	width: auto;
	height: auto;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

.centered_container {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 80px 30px 30px;
}

.fill_parent {
	min-width: 100%;
	min-height: 100%;
	object-fit: contain;
}
