@import 'variables';
@import 'mixins';

@import '../bower_components/bootstrap/scss/variables';
@import '../bower_components/bootstrap/scss/mixins/breakpoints';

.navbar {
  background-color: mix(white, $base-color, 95);
  border-bottom: 3px solid $base-color;
  @include drop-shadow(0.5em);
}

.navbar * {
  transition: all $transition-time ease-out;
}

@media not print {
  div#content {
    position: relative;
    height: 100vh;
    overflow-x: auto;
    overflow-y: auto;
    box-shadow: 0 0 1rem;
    right: 0;

    transition: right $transition-time ease-in-out;
  }
}

@include media-breakpoint-down(xs) {
  div#content.navbar-open {
    right: $sidebar-width;
  }

  .navbar-nav-container {
    display: block;
    position: fixed;
    height: 100vh;
    top: 0;
    right: - $sidebar-width;
    width: $sidebar-width;
    padding: 1rem 1rem;
    background-color: mix(white, $base-color, 80);
    transition: right $transition-time ease-in-out;
  }

  .navbar-nav-container::before { // Inset left side shadow
    display: block;
    position: absolute;
    top: -25%;
    left: 0;
    width: $sidebar-width + 10vw;
    height: 150%;
    float: left;
    box-shadow: 0 0 1rem black inset;
    content: '';
    z-index: -10;
  }

  .navbar-open .navbar-nav-container {
    right: 0;
  }

  .navbar-nav-container .nav-item {
    display: block;
    float: none;
    text-align: center;
    margin: 0 !important;
  }
}

// .navbar-nav .nav-item + .nav-item {
//   @include media-breakpoint-down(xs) {
//
//   }
//   @include media-breakpoint-up(breakpoint-next(xs)) {
//     border-left: 1px mix(#777, $base-color, 50) solid;
//   }
// }

.navbar-light .navbar-nav .nav-link, .navbar-light .navbar-brand,
.navbar-light .navbar-nav:hover .nav-link.active {
  position: relative;
  color: fade-out(black, 0.2);
}

.navbar-light .navbar-nav .nav-link.active {
  color: $base-color;
}

.navbar-light .navbar-nav .nav-link:hover, .navbar-light .navbar-brand:hover {
  color: fade-out($base-color, 0.25) !important;
}

.navbar .navbar-nav .nav-link::before, .navbar .navbar-nav .nav-link::after,
.navbar .navbar-nav:hover .nav-link.active::before, .navbar .navbar-nav:hover .nav-link.active::after {
  display: block;
  position: absolute;
  bottom: 0.5rem;
  height: 2px;
  width: 100%;
  background-color: rgba(0,0,0,0);
  transform: scaleX(0);
  content: '';
  transition: all $transition-time ease-out;
}

.navbar .navbar-nav .nav-link::before {
  transform-origin: left;
}

.navbar .navbar-nav .nav-link::after {
  transform-origin: right;
}

.navbar .navbar-nav .nav-link:hover::before, .navbar .navbar-nav .nav-link:hover::after,
.navbar .navbar-nav .nav-link.active::before, .navbar .navbar-nav .nav-link.active::after,
.navbar .navbar-nav .nav-link.active:hover::before, .navbar .navbar-nav .nav-link.active:hover::after {
  background-color: $base-color;
  transform: scaleX(0.5);
}
