.section-content {
	padding: 15vh 10%;
	height: 100%;
	min-height: 30vh;
	//background-color: rgba(255, 255, 255, 0.75);

	background-color: fade-out(lighten(black, 20), 0.4);

	transition: transform $transition-time-long cubic-bezier(.2,.5,.3,1), opacity $transition-time-long;
}

.section-content-reverse {
	float: right;
}

.section-content.out {
	transform: translateX(-100%);
	opacity: 0;
}

.section-content.section-content-reverse.out {
	transform: translateX(100%);
}

.section {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 50% 50%;

	color: white;

	@media not print {
		background-attachment: fixed;
	}
}
