body {
	font-family: 'Lato', sans-serif;
	font-size: 1.1rem;
	line-height: 1.5;
}

h1 {
	//border-bottom-style: solid;
	//border-width: 3px;
	//border-color: black;
	font-family: 'Montserrat', sans-serif;
}

h1::after { // Underline
	display: block;
	height: 2px;
	width: 4rem;
	background-color: $base-color;
	content: '';
	margin-top: 0.25rem;
}

h2, h3 {
	//border-bottom-style: solid;
	//border-width: 2px;
	//border-color: black;
	font-family: 'Montserrat', sans-serif;
	font-weight: 300;
}

h4, h5 {
	border-style: none;
	border-color: black;
	font-family: 'Montserrat', sans-serif;
	font-weight: 300;
}

code {
	font-family: 'Source Code Pro', monospace;
	background-color: #e0e0e0;
	color: inherit;
}

.text-muted {
	font-weight: lighter;
	font-size: 0.75em;
}
