.journal_link {
	cursor: pointer;
}

div._journal_content_container {
	margin: 0 10px 5px;
	padding: 0 10px 0;
}

i.nav_collapsed {
	transform: rotate(0deg);
	transition: transform 0.25s ease-out;
}

i.nav_expanded {
	transform: rotate(-180deg);
	transition: transform 0.25s ease-out;
}
