extends ../layout
block title
  - title = "Technical Journal"
block navbar-pre
  - nav_item = 'journal'
block js
  script(src='/img_util.js')
  script(src='/journal_nav.js')
block css
block content
  .spacer
  .container
    div.text-muted#preface.
      Almost all software development on the main algorithm occurred before the start of this journal.
    //-Links for git commits have been removed until repositories are made public.
    .spacer
    each entry in entries
      div.entry
        h2.journal_link.clearfix(id=entry.id)
          i.nav_collapesd.fa.fa-fw.fa-angle-down(id=entry.id+'_navico')
          != entry.heading
        div._journal_content_container.collapse(id=entry.id+"_data")
          != entry.content
  .spacer
