doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width')
    block title
    title
      = title ? title + " | RCj Team" : "RCj Team"
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Montserrat|Lato|Source+Code+Pro')
    //link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css', integrity='sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7', crossorigin='anonymous')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css', integrity='sha384-y3tfxAZXuh4HwSYylfB+J125MxIs6mR5FOHamPBG064zB+AFeWH94NdvaCBm8qnd', crossorigin='anonymous')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css', integrity='sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1', crossorigin='anonymous')
    link(rel='stylesheet', href='styles.css')
    block css
    script(src='https://code.jquery.com/jquery-2.2.4.min.js', integrity='sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=', crossorigin='anonymous')
    //script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js', integrity='sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS', crossorigin='anonymous')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/js/bootstrap.min.js', integrity='sha384-vZ2WRJMwsjRMW/8U7i6PWi6AlO1L79snBrmgiDpgIWJ82z8eA5lenwvxbMV1PAh7', crossorigin='anonymous')
    block js
    if ENV_DEVELOPMENT
      script(src='http://localhost:35629/livereload.js')
  body

    //div.navbar.navbar-default.navbar-full#navbar
      div.container-fluid
        div.navbar-header
          button.navbar-toggle.collapsed(type=button)
            span.fa.fa-lg.fa-bars
          a.navbar-brand(href="/")
            | The BEings
        div.collapse.navbar-collapse
          ul.nav.navbar-nav
            li.nav-item
              a.nav-link(href='/journals/')

    //div.container-fluid
    div.navbar.navbar-light.navbar-full.bg-faded#navbar
      button.navbar-toggler.hidden-sm-up.pull-right(type=button)
        span.fa.fa-lg.fa-bars
      a.navbar-brand(href="/")
        | The BEings
      div.collapse.navbar-toggleable-xs.pull-right
        ul.nav.navbar-nav
          li.nav-item
            a.nav-link(href='/journals/')
              | Journals
    div.container
      block content
