extends ../layout

block title
  - title = 'About Us'
block navbar-pre
  - nav_item = 'about'

block content
  .spacer

  .container
    section.clearfix
      .col-md-4
        div(style={
          'background-image': 'url("/img/EthanWu.jpg")',
          'background-repeat': 'no-repeat',
          'background-size': 'cover',
          'background-position': '50% 30%',
          'width': '100%',
          'height': '50vh',
          'position': 'relative'
          })
          span(style={
            'position': 'absolute',
            'bottom': '0',
            'left': '0',
            'margin': '0.5rem',
            'color': 'white'
            }) Ethan Wu
        .spacer
        div
          h3.h3 Past projects
          ul
            li Compact Customizable Maze Navigation Robot - 2016-17
              div.small RCj Rescue Maze + MakerFaire talk
            li Android Bluetooth Robot Communication App - 2015
            li NXT and Arduino Hybrid Robot / I#[sup 2]C Slave - 2014
              div.small RCj Rescue Line - 1#[sup st] place in International @ Brazil
            li Main developer for FLL 2012 (Senior Solutions)
              div.small 1#[sup st] place in robot game

      .col-md-8
        .spacer.hidden-md-up
        //- Change to first person
        :marked
          # Ethan Wu
          I am an 10<sup>th</sup> grader at the Bridgewater-Raritain High School and have been attending
          Storming Robots for 5 years. At a very young age, I have been interested in robotics
          and electronics, having constructed a motion-activated nightlight at age 6. From there,
          I have worked on various different robotics projects, starting with LEGO NXTs and the FLL
          robotics competition. Around age 10, I started working with more advanced programming, moving
          from LEGO's basic drag-and-drop software to RobotC, programming in C for NXT's, and to
          creating a hybrid robot comprised of an NXT as a master and an Arduino as a sensor slave
          (programmed in C++) communicating to each other via I<sup>2</sup>C. I have also created Android apps
          to interact with robots over Bluetooth for remote control capabilities. I enjoys doing
          just about anything computers-related, including web design, algorithms programming, CGI
          art, and Linux.

          I am very self-motivated, not afraid to learn new things in order to get the job done,
          and done right. I have taught myself all about computers and programming, including C/C++,
          Javascript, Java, Python, Linux, KiCAD, FreeCAD, Blender, and OpenCV.

    section.clearfix
      .col-md-4
        div(style={
          'background-image': 'url("/img/DanielXue.jpg")',
          'background-repeat': 'no-repeat',
          'background-size': 'cover',
          'background-position': '50% 30%',
          'width': '100%',
          'height': '50vh',
          'position': 'relative'
          })
          span(style={
            'position': 'absolute',
            'bottom': '0',
            'left': '0',
            'margin': '0.5rem',
            'color': 'white'
            }) Daniel Xue
        .spacer
        div
          h3.h3 Past projects
          ul
            li Rescue Maze - 2016-7
            li Rescue Line - 2015
              div.small Lead software developer
            li FLL 2015-6 (Learning Unleashed, Trash Trek)
              div.small Lead software developer

      .col-md-8
        .spacer.hidden-md-up
        //- Change to first person
        :marked
          # Daniel Xue
          Hi. I am a (rising) freshman at Montgomery High School. I've always been interested in software
          development. At a very young age, I saw my dad teaching my brother basic programming, and I
          immediately begged my dad to teach me as well. Little did I know, this was the beginning of a
          venture lasting to this day, and into the future. 

          In fourth grade, I began to learn python, and by the end of it developed an asteroids ripoff. From
          there I continued to learn, learning by myself Java. Then, in the summer of 2014, when I was 11
          years old, I attended a summer camp at Storming Robots, a nearby robotics institution. There, i
          began my venture into C programming through the RobotC IDE and developed my algorithmic thinking. In
          the next few years, the concepts I learned were refined and broadened through the participation of
          various competitions such as FLL, USACO, and 3 years of RoboCup Junior. 

          Through it all, I gathered vast array of programming skills, learning C/C++, Python, Java, Swift,
          OpenCV, and OpenSCAD, all in the span of an amazing short few years. 


  .spacer
