doctype html

mixin nav-item(href, name)
  - if (!name) name = href.split('/').reverse()[0];
  - if (!name) name = href.split('/').reverse()[1];
  li.nav-item
    a.nav-link(href=href, class={active: nav_item == name})
      block

html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width')
    block title
    title
      = title ? title + " | Team BEings" : "Team BEings"
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Montserrat|Lato|Source+Code+Pro')
    //link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css', integrity='sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7', crossorigin='anonymous')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css', integrity='sha384-y3tfxAZXuh4HwSYylfB+J125MxIs6mR5FOHamPBG064zB+AFeWH94NdvaCBm8qnd', crossorigin='anonymous')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css', integrity='sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1', crossorigin='anonymous')
    link(rel='stylesheet', href='/bower_assets/css-hamburgers/css/hamburgers.min.css')
    link(rel='stylesheet', href='/styles.css')
    block css
    script(src='https://code.jquery.com/jquery-2.2.4.min.js', integrity='sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=', crossorigin='anonymous')
    //script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js', integrity='sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS', crossorigin='anonymous')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/js/bootstrap.min.js', integrity='sha384-vZ2WRJMwsjRMW/8U7i6PWi6AlO1L79snBrmgiDpgIWJ82z8eA5lenwvxbMV1PAh7', crossorigin='anonymous')
    script(src='/navbar.js')
    block js
    if ENV_DEVELOPMENT
      script(src='http://localhost:'+LR_PORT+'/livereload.js')
  body

    #content
      block navbar-pre
      nav.navbar.navbar-light.navbar-full#navbar
        button.navbar-toggler.hidden-sm-up.pull-right(type=button)
          span.fa.fa-lg.fa-bars
          //-span.hamburger-box
            span.hamburger-inner
        a.navbar-brand(href="/")
          span.hidden-sm-down.
            Team BEings #[span.small RCj Maze]
          //-C#[span.small ustomizable] C#[span.small ompact] M#[span.small aze] N#[span.small avigation] R#[span.small obot]
          span.hidden-md-up.
            CCMNR
        div.pull-right.navbar-nav-container
          //-.navbar-toggleable-xs.collapse
          ul.nav.navbar-nav
            +nav-item('/details/').
              Project Abstract
            +nav-item('/journal/').
              Journals
            +nav-item('/about/').
              About Us
      block content
      footer
        .container
          .social
            //a.fa.fa-github(href='//github.com/ccmnr/')
          hr
          .small Made with #[span.fa.fa-heart(style={'color': '#d22', 'font-size': '0.75em'})] by Ethan
